body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: lavender;
}

* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav  {
    display: inline-flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    /* margin-left: 400px; */
}

#startBtn {
    align-self: center;
    width: 75px;
    height: 30px;
    background-color: mediumpurple;
    border-radius: 10%;
}

.timer {
    font-size: x-large;
    align-self: flex-start;
}

.time {

}

#minutes {
    margin-left: 10px;
}

.score {
   font-size: x-large;
   margin-left: 200px;
}
/* 
#score {
    margin-right: 200px;
} */

.board {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: .2rem;
    border: 1px solid black;
    border-radius: 2%;
    margin: 10px;
}

 .card-container {
    perspective: 800px;
 }

.card {
    display: grid;
    border-radius: 10%;
    margin: 10px;
    position: relative;
    grid-template-areas: "overlap";
    transform-style: preserve-3d;
    transition: all 0.7s ease-in-out;
}

.cardFront, .cardBack {
    display: grid;
    grid-area: overlap;
    border-radius: 10%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    backface-visibility: hidden;
}

.cardBack {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.cardFront {
    transform: rotateY(0deg);
}

 img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
 }

@media (max-width: 960px) {
    .board {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .board {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

